@{
              

}
 

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Authorization Pending</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <style>

        #ibanners-home {
            height: 500px !important;
            width: 120% !important;
            margin-left: -10%;
            background-repeat: no-repeat;
            background-position: center center;
            overflow: hidden;
        }
    </style>
</head>
<body>
    <div class="hidden-xs hidden-sm hidden-md col-lg-12 ml-5">
        <img src="~/Images/SharedView/Checking.svg" id="ibanners-home" alt="" />
    </div>
    <div class=" d-flex justify-content-center bg-white mt-4 ">
        <button type="button" class="btn btn-primary btn-lg  align-content-center " href="javascript:void(0)" onclick="window.location.href='@Url.Action("Login", "Account")'">
            Home
        </button>
    </div>
</body>
</html>



