@using DemoProject.Services.HtmlHelpers;

@{
    Layout = null;
}


<!doctype html>

<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/ClearLoginSession.css" rel="stylesheet" />
    <title>Clear Recent Login Session</title>
</head>
<body>
    <section class="main">
        <div class="content">
            <div class="message">
                <h2> This account is already logged in !!! </h2>
                <p>
                    A single account cannot be accessed by multiple users at the same time.
                    This means that you will see this message if you try to log in to an account that's already being used or logged in somewhere else.
                    You must log out of other browsers before being able to log in.
                    Logging in now will log out other devices connected to this account
                    Do you want to Clear Recent Session?
                </p>

                @CustomHtmlHelper.TroubleshootLink("ClearLoginSession")

            </div>
            <img src="~/Images/SharedView/Cleanup.png" />
        </div>
    </section>
</body>
</html>
