@{
    Layout = null;
}

<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/ClearLoginSession.css" rel="stylesheet" />
    <title>Boundary Limit Exceed</title>
</head>
<body>
    <section class="main">
        <div class="content">
            <div class="message">
                <h2> Oops !!! Branch Boundary Limit Exceed </h2>
                <p>
                    Your Branch Boundary Limit Exceed due to Maximum Branch Added.
                </p>

            </div>
            <img src="~/Images/SharedView/no-limits.png" />
        </div>
    </section>
</body>
</html>