
@{
    Layout = null;
}

<!doctype html>

<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/Custom.css" rel="stylesheet" />
    <title>Subscription Expired</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col-12 text-center">
                <figure>
                    <img class="img-fluid" src="~/Images/Subscription/wallet.svg" alt="Expired Page" height="500" width="500"  />
                </figure>                
            </div>
        </div>
        <div class="row">
            <div class="offset-2 col-8">
                <h1 class="text-center text-danger mt-2"><strong> Your Subscription Has Expired !!!</strong></h1>
            </div>
            <div class="offset-2 col-8 text-center">
                <h6 class="mt-4 line-height-3 text-muted">
                    Your subscription for this software has expired. Please renew your subscription to automatically updates
                    this software.
                </h6>
                <button class="btn-lg mt-4 bg-darkgray text-white"> Renew Subscription </button>
            </div>
        </div>
    </div>
</body>
</html>
