@model DemoProject.Services.ViewModel.Configuration.HeaderPartialModel

<div class="page-header">
    <div class="page-header-title">
        <h4 class="font-weight-bold">@Model.title</h4>
    </div>
    <hr />
    <ul class="breadcrumb">
        @*<li class="breadcrumb-item"><a href="index.html"><i class="fas fa-pen-fancy"></i></a></li>*@
        <li class="breadcrumb-item"><h6 class="font-italic">@Model.path</h6></li>
    </ul>
</div>



