@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <div class="container-fluid">
        <div class="row">

            <div class="card w-75  ml-auto mr-auto mt-5 border-0">
                <div class="card-header bg-secondary">
                    <div class="card-title text-white font-weight-bold">
                        Contact Details
                    </div>
                </div>
                <div class="card-body  h-75 border-bottom border-secondary">
                    <div class="card-columns">
                        <div class="card-title text-secondary font-weight-bold">Administrator Name :  <span class="font-weight-normal"> Admin </span></div>
                    </div>
                    <div class="card-columns">
                        <div class="card-title text-secondary font-weight-bold">Email ID :  <span class="font-weight-normal"> admin@gmail.com </span></div>
                    </div>
                    <div class="card-columns">
                        <div class="card-title text-secondary font-weight-bold">Mobile Number :  <span class="font-weight-normal"> 9999999999 </span></div>
                    </div>
                    <div class="card-columns">
                        <div class="card-title text-secondary font-weight-bold">Alternate Mobile Number :  <span class="font-weight-normal"> 9898989898 </span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
