@{
    Layout = null;
}

<!doctype html>

<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/Custom.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <title>User Locked</title>
    <style>
        .saturate {
            filter: saturate(1);
        }
    </style>
</head>
<body>
    <div class="container-fluid page">
        <div class="row mt-3">
            <div class="col-12 text-center">
                <figure>
                    <img class="img-fluid rounded saturate" src="~/Images/UnAuthorizeAccess/access.jpg" alt="Unauthorized Image" height="700" width="700" />
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="offset-1 col-10">
                <div class="w3-display-middle mt-5 ">
                    <h1 class="w3-center w3-animate-zoom text-center text-danger mt-3 ml-5"><code class="text-danger saturate"><b>Access Denied !!</b></code></h1>
                    <h5 class="w3-animate-zoom text-center mt-3 w-100 "><b>You dont have permission to view this site.</b></h5>
                </div>

            </div>
        </div>
        <div class="container-fluid d-flex justify-content-center mt-5" style="margin-top:10%!important;">
            <div class="button mt-5" href="javascript:void(0)" onclick="window.location.href='@Url.Action("Login", "Account")'">
                <p class="btnText mt-3">HOME</p>
                <div class="btnTwo">
                    <p class="btnText2"><i class="fa fa-arrow-left"></i></p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>