@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_DashBoard.cshtml";
}
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

@Html.DevExpress().WebDocumentViewer(settings => {
    settings.Name = "WebDocumentViewer";
}).Bind(new SharesApplicationReport()).GetHtml()
