@import url('https://font.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

:root {
    --black: #333;
    --green: #017143;
    --white: #fff;
    --white2: #fff;
    --black2: #333;
}

.dark {
    --black: #fff;
    --white: #113828;
    --black2: #124e36;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--white);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}

    header .logo {
        position: relative;
        max-width: 80px;
    }

    header ul {
        position: absolute;
        display: flex;
    }

        header ul li {
            list-style-type: none;
        }

            header ul li a {
                display: inline-block;
                color: var(--black);
                font-weight: 400;
                margin-left: 40px;
                text-decoration: none;
            }

ul.navigation li span.themeSwitch {
    left: 25px;
    top: -7px;
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .content .textBox {
        position: relative;
        max-width: 600px;
    }

        .content .textBox h2 {
            color: var(--black);
            font-size: 2em;
            line-height: 1.7em;
            font-weight: 900;
            margin-top:10%;
        }

            .content .textBox h2 span {
                color: var(--red);
                font-weight: 900;
                font-size: 1.5em;
               
            }

        .content .textBox p {
            line-height: 1.7em;
            color: var(--black);
        }

        .content .textBox a {
            display: inline-block;
            border-color:white;
            margin-top: 20px;
            padding: 8px 20px;
            background: var(--red);
            color: white;
            border-radius: 40px;
            font-weight: 500;
            letter-spacing: 1px;
            text-decoration: none;
        }

    .content .imgBox {
        width: 600px;
        display: flex;
        justify-content: flex-end;
        padding-right: 50px;
        margin-top: 50px;
    }

        .content .imgBox img {
            max-width: 400px;
        }


.thumb {
    position: absolute;
    left: 80%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}

    .thumb li {
        list-style: none;
        display: inline-block;
        margin: 0 20px;
        cursor: pointer;
        transition: 0.5s;
    }

        .thumb li:hover {
            transform: translateY(-15px);
        }

        .thumb li img {
            max-width: 60px;
        }

.sci {
    position: absolute;
    bottom: 40px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:10%;
}

    .sci li {
        list-style-type: none;
        padding: 5px;
    }

        .sci li a {
            display: inline-block;
            margin-right:15px;
            width: 50px;
            height: 50px;
            background: black;
            color: white;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
        }

            .sci li a .fa {
                font-size: 1.2em;
            }

            .sci li a:hover {
                background: red;
            }

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: red;
    clip-path: circle(600px at right 800px);

}


.more a {
    min-width: initial;
    line-height: 26px;
   
    
}

    .more a:hover {
        letter-spacing: 1px;
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
        transition: all 0.4s ease 0s;
    }

.themeSwitch {
    position: relative;
    width: 40px;
    height: 40px;
    background: black;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .themeSwitch::before {
        content: '\f186';
        font-family: fontAwesome;
        color: white;
        font-size: 20px;
    }

    .themeSwitch.active::before {
        content: '\f185';
    }

    .themeSwitch.active {
        background: var(--black2);
    }

@media (max-width:991px) {
    header {
        padding: 20px;
    }

        header .logo {
            position: relative;
            max-width: 60px;
        }

        header ul {
            display: none;
        }

            header ul li {
                display: flex;
                position: relative;
                justify-content: center;
                align-items: center;
                margin: 5px 0;
                margin-left: 0;
            }

                header ul li a {
                    font-size: 1.5em;
                    font-weight: 300;
                    list-style: none;
                    text-decoration: none;
                }

    .toggle {
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: url(menu.png);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        filter: invert(1);
        z-index: 11;
    }

        .toggle.active {
            position: fixed;
            right: 20px;
            background: url(close.png);
            background-size: 25px;
            background-position: center;
            background-repeat: no-repeat;
        }

    header ul.navigation.active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: var(--white);
        z-index: 10;
    }

    header ul li a {
        font-size: 1.5em;
        margin: 5px 0;
    }

    section {
        padding: 20px 20px 120px;
    }

    .content {
        flex-direction: column;
        margin-top: 100px;
    }

        .content .textBox h2 {
            font-size: 2.5em;
            margin-bottom: 15px;
        }

        .content .textBox {
            max-width: 100%;
        }

        .content .imgBox {
            max-width: 100%;
            justify-content: center;
        }

            .content .imgBox img {
                max-width: 900px;
            }

    .thumb li img {
        max-width: 40px;
    }

    .circle {
        clip-path: circle(400px at center bottom);
    }

    .sci {
        display: none;
    }

    .dark .toggle {
        filter: invert(0);
    }

    ul.navigation li span.themeSwitch {
        left: -1px;
    }
}

.imgBox img {
    margin-top: 0px;
    width: 100%;
    height: 100%;
    animation: bounce 1s infinite alternate;
    -webkit-animation: bounce 1s infinite alternate;
}

@keyframes bounce {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-15px);
    }
}

@-webkit-keyframes bounce {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-15px);
    }
}
.textBox {
    
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
}



@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* The style below is just for the appearance of the example div */

.style {
    width: 90vw;
    height: 90vh;
    text-align: center;
    padding-top: calc(50vh - 50px);
    margin-left: 5vw;
    border: 4px double #F00;
    background-color: #000;
}

    .style p {
        color: #fff;
        font-size: 50px;
    }