
@{
    Layout = "~/Views/Shared/_LoginSupportLayout.cshtml";
}

<!doctype html>

<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Creating Safe Password Tips</title>
</head>
<body>
    <div class="container-fluid">
        <!-- First Row (<- Back Arrow and Title) -->
        <div class="row mt-5">
            <div class="col-1">
                <a class="text-center" href="javascript:void(0)" onclick="window.location.href='@Url.Action("Login", "Account")'">
                    <i class='fas fa-arrow-left btn-lg text-primary'></i>
                </a>
            </div>
            <div class="col-10">
                <h2 class="text-center text-primary">
                    <strong>Creating Safe And Secure Password</strong>
                </h2>
            </div>
        </div>
        <!-- Second Row -->
        <div class="row mt-4">
            <div class="offset-1 col-2">
                <figure>
                    <img class="img-fluid" src="~/Icons/Login/Password.png" alt="Password Image" />
                </figure>
            </div>
            <div class="col-8">
                <h6 class="mt-5">
                    Keep Alphanumeric Password That Are At Least 8 Character.
                </h6>
            </div>
        </div>
        <!-- Third Row -->
        <div class="row mt-4">
            <div class="offset-1 col-2">
                <figure>
                    <img class="img-fluid" src="~/Icons/Login/DifficultPassword.jpg" alt="Password Image" />
                </figure>
            </div>
            <div class="col-8">
                <h6 class="line-height-2 mt-4">
                    You Can Use Phrases In Sentences Such As "Nature's Wrath Tsunami" To Frame Your Password As
                    They Are Easy To Remember And Difficult To Crack
                </h6>
            </div>
        </div>
        <!-- Fourth Row -->
        <div class="row mt-4">
            <div class="offset-1 col-2">
                <figure>
                    <img class="img-fluid" src="~/Icons/Login/Dictionary.png" alt="Password Image" />
                </figure>
            </div>
            <div class="col-8">
                <h6 class="line-height-2 mt-4">
                    Do Not Used Dictionary-Based Words, Your Spouse's Name Or Your Date Of Birth. These Are Easy To Crack Or Guess.
                </h6>
            </div>
        </div>
        <!-- Fifth Row -->
        <div class="row mt-4">
            <div class="offset-1 col-2">
                <figure>
                    <img class="img-fluid" src="~/Icons/Login/MultipleAccount.png" alt="Password Image" />
                </figure>
            </div>
            <div class="col-8">
                <h6 class="mt-4">
                    Do Not Keep The Same Password For Multiple Accounts.
                </h6>
            </div>
        </div>
        <!-- Sixth Row -->
        <div class="row mt-4">
            <div class="offset-1 col-2">
                <figure>
                    <img class="img-fluid" src="~/Icons/Login/WritingNote.jpg" alt="Password Image" />
                </figure>
            </div>
            <div class="col-8">
                <h6 class="mt-4">
                    Do Not Write Down Your Password.
                </h6>
            </div>
        </div>
        <!-- Seventh Row -->
        <div class="row mt-4">
            <div class="offset-1 col-2">
                <figure>
                    <img class="img-fluid" src="~/Icons/Login/Calander.png" alt="Password Image" />
                </figure>
            </div>
            <div class="col-8">
                <h6 class="mt-4">
                    Change Your Password Once In Every Three Month.
                </h6>
            </div>
        </div>
    </div>
</body>
</html>
